
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
  color: #FFFFFF;
  background-color: 264653;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: medium;
  line-height: normal;
}
h1, h2, h3 {
  font-family: 'Varela', sans-serif;
  color: #ECF0F3;
}

h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
  color: #2A9D8F;
}
h3 {
  font-size: medium;
  color: #E9C46A;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  color: e76f51 ;
  text-decoration: underline;
}
.text-bold {
  color : #E9C46A;
  font-family: 'Open Sans', sans-serif;
}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.card {
  background-color: #335F70;
  padding: 30px;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 1px 1px 3px white;
}
#my_profile {
  background-color:#40768C ;
}
#reseau {
  font-size: x-large;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
